.about {
  padding-top: 90px;
  margin-bottom: 60px;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__img {
    object-fit: cover;
    max-width: 500px;
    width: 100%;
    display: block;
  }
  &__img--top {
    margin-right: 60px;
    border-radius: 260px 260px 0 0;
  }
  &__inner {
    max-width: 570px;
    width: 100%;
    z-index: 1;
  }
  &__wrapper--top {
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      content: "";
      width: 790px;
      height: 950px;
      top: -165px;
      right: 525px;
      background-image: url("../img/bg-3.svg");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
    }
  }
  &__subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__text {
    font-weight: 300;
    margin-bottom: 30px;
  }
}

.sales {
  margin: 85px 0;
  background-position: top center;
  background-size: cover;
  width: 100%;
  padding: 100px 0 80px;
  &__inner {
    max-width: 730px;
    background-color: $white;
    text-align: center;
    margin: 0 auto;
    padding: 55px 30px 65px;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__text {
    margin-bottom: 30px;
    font-weight: 300;
  }
}
