.collection {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    min-width: 0;
    overflow: hidden;
    @include media(992px) {
      justify-content: center;
    }
  }
  &__filters {
    margin-bottom: 40px;
    display: flex;
    border-top: 1px solid transparent;
    @include media(768px) {
      overflow-x: scroll;
      border-top: 1px solid #363131;
    }
  }
  &__filter {
    margin-right: 50px;
    opacity: 0.7;
    @include media(768px) {
      min-width: 95px;
      width: 100%;
      margin-right: 30px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.mixitup-control-active {
  opacity: 1;
  border-bottom: 1px solid #363131;
}
