.offer {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    position: relative;
    @include media(992px){
      flex-wrap: wrap;
      justify-content: center;
    }
    &::before {
      position: absolute;
      content: "";
      width: 1990px;
      height: 950px;
      top: 285px;
      right: -370px;
      background-image: url("../img/bg-4.svg");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
    }
  }
  &__inner {
    max-width: 530px;
    width: 100%;
    @include media(992px){
      margin-bottom: 25px;
    }
  }
  &__subtitle {
    margin-bottom: 20px;
    font-size: 20px;
  }
  &__text {
    font-weight: 300;
    margin-bottom: 10px;
  }
  &__btn{
    margin-top: 50px;
  }
  &__img{
    max-width: 370px;
    width: 100%;
    object-fit: cover;
    border-radius: 200px 200px 0 0 ;

  }
}
