.showcase {
  padding: 85px 0;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    overflow: hidden;
  }
}

.card {
  padding: 5px;
  max-width: 280px;
  width: 100%;
  // height: 410px;
  margin-bottom: 30px;
  &:not(:last-child) {
    margin-right: 15px;
  }
  &--showcase {
    &:nth-child(2n) {
      padding-top: 65px;
    }&:nth-child(2n+1) {
      padding-bottom: 65px;
    }
  }
  &__image {
    max-height: 300px;
    max-width: 270px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__price {
    font-weight: 500;
    line-height: 20px;
  }
  &__btn {
    display: flex;
    justify-content: space-between;
  }
  &__buy {
    padding: 10px 15px;
    max-width: 104px;
    width: 100%;
    background-color: #be8b71;
    color: $white;
  }
  &__detail {
    padding: 10px 15px;
    max-width: 140px;
    border: 1px solid #363131;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: #be8b70;
      color: $white;
    }
  }
}
