.showcase {
  padding: 85px 0;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 0;
  }
}

.card {
  padding: 5px;
  max-width: 280px;
  width: 100%;
  margin-bottom: 30px;
  @include media(768px) {
    max-width: 225px;
  }
  @include media(540px) {
    max-width: 150px;
  }
  @include media(365px) {
    max-width: 127px;
  }
  &:not(:last-child) {
    margin-right: 15px;
  }
  &--showcase {
    &:nth-child(2n) {
      padding-top: 65px;
      @include media(540px) {
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
    &:nth-child(2n + 1) {
      padding-bottom: 65px;
    }
  }
  &__image {
    max-height: 300px;
    max-width: 270px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    @include media(768px) {
      max-height: 210px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
    @include media(768px) {
      margin-bottom: 15px;
    }
  }
  &__name {
    @include media(768px) {
      text-align: center;
    }
  }
  &__price {
    font-weight: 500;
    line-height: 20px;
  }
  &__btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__buy {
    padding: 10px 15px;
    max-width: 104px;
    width: 100%;
    background-color: #be8b71;
    color: $white;
    @include media(768px) {
      max-width: 100%;
      margin-bottom: 10px;
    }
    @include media(365px) {
      font-size: 12px;
    }
  }
  &__detail {
    padding: 10px 15px;
    max-width: 140px;
    border: 1px solid #363131;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: #be8b70;
      color: $white;
    }
    @include media(768px) {
      min-width: 100%;
      display: block;
    }
    @include media(365px) {
      font-size: 12px;
    }
  }
}
