.footer {
  background-color: #eee2d7;
  padding: 55px 0;
  font-weight: 300;
    font-size: 12px;
  &__nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media(992px){
      justify-content: center;
      margin-bottom: 45px;
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 45px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: #363131;
    font-weight: 300;
  }
  &__social-link {
    width: 25px;
    height: 25px;
    font-size: 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 30px;
      background-size: cover;
      background-position: left bottom;
    }
    &--instagram::after {
      background-image: url("../img/icons/sprite.svg#instagram");
      left: -120px;
      top: 10px;
    }
    &--telegram::after {
      background-image: url("../img/icons/sprite.svg#telegram");
      left: -80px;
      top: 10px;
    }
    &--whatsapp::after {
      background-image: url("../img/icons/sprite.svg#whatsapp");
      left: -40px;
      top: 10px;
    }
  }
  &__tel{
    color: inherit;
  }
  &__text {
    text-align: center;
  }
  &__copy-list {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
  &__copy-item {
    padding: 0 5px;
    position: relative;
    &::before {
      content: "|";
      position: absolute;
      top: 0;
      right: -2px;
      background-size: cover;
      background-position: left bottom;
    }
    &:last-child {
      &::before {
        display: none;
      }
    }
  }
  &__copy-link{
    color: inherit;
  }
}
