.header {
  background-color: #eee2d7;
  padding-bottom: 150px;
  &__inner {
    display: flex;
  }
  &__title {
    font-family: Mak;
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
    max-width: 640px;
    margin-bottom: 30px;
  }
  &__text {
    max-width: 470px;
    line-height: 150%;
    margin-bottom: 30px;
  }
  &__items {
    position: relative;
    
  }
  &__img--second {
    max-width: 370px;
    max-height: 370px;
    width: 100%;
  }
  &__img--first {
    border-radius: 133px 133px 0 0;
    max-width: 270px;
    max-height: 300px;
    width: 100%;
    position: absolute;
    right: 300px;
   top: 185px;
    z-index: 1;
  }
}

.menu {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  &__btn {
    padding: 15px;
    display: none;
    font-size: 0;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: 15px;
    @include media(992px) {
      display: block;
    }
  }
  &__btn--active {
    .menu__btn-style {
      height: 0;
      &::after {
        top: 0;
        left: 0;
        transform: rotate(-45deg);
      }
      &::before {
        top: 0px;
        left: 0;
        transform: rotate(45deg);
      }
    }
  }
  &__btn-style {
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: $white;
    color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
    &::before,
    &::after {
      content: "";
      height: 5px;
      width: 50px;
      background-color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &::before {
      top: 20px;
    }
    &::after {
      top: -15px;
    }
  }
  &__list--hide {
    display: flex;
    @include media(992px) {
      display: none;
    }
  }
  &__item {
    margin-right: 44px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    font-weight: 300;
    color: #363131;
  }
  &__consultation {
    color: #363131;
    font-weight: 300;
    padding: 14px 20px;
    border: 0.7px solid #363131;
    transition: background-color 0.5s, color 0.3s;
    &:hover {
      background-color: #be8b70;
      color: $white;
    }
  }
}
.logo {
  &__svg {
    height: 34px;
  }
}
